<!-- Jinja :: Template -->
{% extends 'base.html' %}

<!-- Jinja :: Theme -->
{% set theme_title = 'Home - SquareCode' %}

<!-- Jinja :: Styles -->
{% block styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/pages/home.css') }}">
{% endblock %}

<!-- Jinja :: Content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center card">

            <!-- Image -->
            <div class="d-flex justify-content-center align-items-center">
                <img id="qrcode" class="card-img-top" src="{{ session['img'] }}" alt="Image">
            </div>

            <!-- Commands -->
            <div class="d-flex flex-row justify-content-center align-items-center card-body w-100 gap-2">

                <!-- Form -->
                <form class="w-100" action="{{ url_for('index.create') }}" method="post">

                    <!-- Commands -->
                    <div class="input-group w-100">
                        <span class="input-group-text">URL</span>
                        <input class="form-control" type="text" name="url" value="{{ session['url'] }}">
                        <button class="btn btn-light" type="submit">Create</button>
                    </div>
                </form>

                <!-- Download -->
                <a class="btn btn-primary" href="{{ session['img'] }}" download>Download</a>
            </div>
        </div>
    </div>
</div>
{% endblock %}