<!-- Jinja :: Template -->
{% extends 'base.html' %}

<!-- Jinja :: Theme -->
{% set theme_title = 'Home - SquareCode' %}

<!-- Jinja :: Styles -->
{% block styles %}
<style>
    #qrcode {
        width: 384px !important;
        height: 384px !important;
    }
</style>
{% endblock %}

<!-- Jinja :: Content -->
{% block content %}
<div class="container">
    <div class="row">
        <div class="d-flex justify-content-center align-items-center card">

            <!-- Image -->
            <div class="d-flex justify-content-center align-items-center">
                <img id="qrcode" class="card-img-top" src="{{ session['img'] }}" alt="Image">
            </div>

            <!-- Commands -->
            <div class="d-flex flex-row justify-content-center align-items-center card-body w-100 gap-2">

                <!-- Commands -->
                <div class="input-group w-100">
                    <span class="input-group-text">URL</span>
                    <input id="input-url" class="form-control" type="text" name="url" value="{{ session['url'] }}">
                    <a id="btn-download" class="btn btn-primary" href="{{ session['img'] }}" download>Download</a>
                </div>
            </div>
        </div>
    </div>
</div>
ok
{% endblock %}

<!-- Jinja :: Scripts -->
{% block scripts %}
<script>
    document.addEventListener('DOMContentLoaded', () => {
        const input_url = document.getElementById('input-url');
        const qrcode = document.getElementById('qrcode');
        const btn_download = document.getElementById('btn-download');
        let timeout_id;

        input_url.addEventListener('input', () => {
            clearTimeout(timeout_id);
            timeout_id = setTimeout(() => {
                const url = new FormData();
                url.append('url', input_url.value);

                fetch("/qrcode/create", {
                    method: 'POST',
                    body: url
                })
                .then(() => {
                    const ts = new Date().getTime();
                    qrcode.src = `/qrcode/get?ts=${ts}`;
                    btn_download.href = `/qrcode/get?ts=${ts}`;
                })
                .catch((error) => {
                    console.error(error);
                    alert(error);
                });
            }, 100);
        });
    });
</script>
{% endblock %}