:root,
[data-bs-theme="light"] {
	--bs-primary: #595bfb !important;
	--bs-primary-rgb: 89, 91, 251 !important;
	--bs-primary-text-emphasis: #3128ab !important;
	--bs-primary-bg-subtle: #dee6ff !important;
	--bs-primary-border-subtle: #c3cfff !important;
	--bs-light: #eaeaea !important;
	--bs-light-rgb: 234, 234, 234 !important;
	--bs-light-text-emphasis: #5e5e5e !important;
	--bs-light-bg-subtle: #fbfbfb !important;
	--bs-light-border-subtle: #f7f7f7 !important;
	--bs-link-color: #595bfb !important;
	--bs-link-color-rgb: 89, 91, 251 !important;
	--bs-link-hover-color: #473bf0 !important;
	--bs-link-hover-color-rgb: 71, 59, 240 !important;
}

.btn-primary {
	--bs-btn-color: #fff !important;
	--bs-btn-bg: #595bfb !important;
	--bs-btn-border-color: #595bfb !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #473bf0 !important;
	--bs-btn-hover-border-color: #3c2ed4 !important;
	--bs-btn-focus-shadow-rgb: 89, 91, 251 !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #3c2ed4 !important;
	--bs-btn-active-border-color: #3128ab !important;
	--bs-btn-disabled-color: #fff !important;
	--bs-btn-disabled-bg: #595bfb !important;
	--bs-btn-disabled-border-color: #595bfb !important;
}

.btn-outline-primary {
	--bs-btn-color: #595bfb !important;
	--bs-btn-border-color: #595bfb !important;
	--bs-btn-focus-shadow-rgb: 89, 91, 251 !important;
	--bs-btn-hover-color: #fff !important;
	--bs-btn-hover-bg: #595bfb !important;
	--bs-btn-hover-border-color: #595bfb !important;
	--bs-btn-active-color: #fff !important;
	--bs-btn-active-bg: #595bfb !important;
	--bs-btn-active-border-color: #595bfb !important;
	--bs-btn-disabled-color: #595bfb !important;
	--bs-btn-disabled-bg: transparent !important;
	--bs-btn-disabled-border-color: #595bfb !important;
}

.btn-light {
	--bs-btn-color: #000000 !important;
	--bs-btn-bg: #eaeaea !important;
	--bs-btn-border-color: #eaeaea !important;
	--bs-btn-hover-color: #000000 !important;
	--bs-btn-hover-bg: #c7c7c7 !important;
	--bs-btn-hover-border-color: #bbbbbb !important;
	--bs-btn-focus-shadow-rgb: 35, 35, 35 !important;
	--bs-btn-active-color: #000000 !important;
	--bs-btn-active-bg: #bbbbbb !important;
	--bs-btn-active-border-color: #b0b0b0 !important;
	--bs-btn-disabled-color: #000000 !important;
	--bs-btn-disabled-bg: #eaeaea !important;
	--bs-btn-disabled-border-color: #eaeaea !important;
}

.btn-outline-light {
	--bs-btn-color: #eaeaea !important;
	--bs-btn-border-color: #eaeaea !important;
	--bs-btn-focus-shadow-rgb: 234, 234, 234 !important;
	--bs-btn-hover-color: #000000 !important;
	--bs-btn-hover-bg: #eaeaea !important;
	--bs-btn-hover-border-color: #eaeaea !important;
	--bs-btn-active-color: #000000 !important;
	--bs-btn-active-bg: #eaeaea !important;
	--bs-btn-active-border-color: #eaeaea !important;
	--bs-btn-disabled-color: #eaeaea !important;
	--bs-btn-disabled-bg: transparent !important;
	--bs-btn-disabled-border-color: #eaeaea !important;
}
